In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('deliveries.csv')

In [4]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
match_id            150460 non-null int64
inning              150460 non-null int64
batting_team        150460 non-null object
bowling_team        150460 non-null object
over                150460 non-null int64
ball                150460 non-null int64
batsman             150460 non-null object
non_striker         150460 non-null object
bowler              150460 non-null object
is_super_over       150460 non-null int64
wide_runs           150460 non-null int64
bye_runs            150460 non-null int64
legbye_runs         150460 non-null int64
noball_runs         150460 non-null int64
penalty_runs        150460 non-null int64
batsman_runs        150460 non-null int64
extra_runs          150460 non-null int64
total_runs          150460 non-null int64
player_dismissed    7438 non-null object
dismissal_kind      7438 non-null object
fielder             5369 non-null object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [9]:
df['is_super_over'].unique()

array([0, 1], dtype=int64)

### 1.Display bowler wise super over count

In [18]:
a = df.groupby(['bowler']).is_super_over.unique()
a

bowler
A Ashish Reddy    [0]
A Chandila        [0]
A Choudhary       [0]
A Flintoff        [0]
A Kumble          [0]
                 ...
YA Abdulla        [0]
YK Pathan         [0]
YS Chahal         [0]
Yuvraj Singh      [0]
Z Khan            [0]
Name: is_super_over, Length: 356, dtype: object

In [27]:
a = df.groupby(['bowler']).is_super_over.max().sort_values(ascending=False)
a.max()

1

In [39]:
a.head(12)

bowler
JP Faulkner       11
JJ Bumrah          8
CH Morris          7
Kamran Khan        7
R Vinay Kumar      7
DW Steyn           6
R Rampaul          6
SP Narine          6
UT Yadav           6
J Theron           5
M Muralitharan     4
BAW Mendis         4
Name: is_super_over, dtype: int64

a.tail()

In [31]:
a = df.groupby(['bowler']).is_super_over.sum().sort_values(ascending=False)

In [35]:
a.head(20)

bowler
JP Faulkner          11
JJ Bumrah             8
CH Morris             7
Kamran Khan           7
R Vinay Kumar         7
DW Steyn              6
R Rampaul             6
SP Narine             6
UT Yadav              6
J Theron              5
M Muralitharan        4
BAW Mendis            4
MG Johnson            4
Harbhajan Singh       0
HH Pandya             0
Gurkeerat Singh       0
Gagandeep Singh       0
HV Patel              0
Harmeet Singh (2)     0
Harmeet Singh         0
Name: is_super_over, dtype: int64

### 2. Display bowler wise wicket count

In [42]:
wickets = df.groupby(['bowler']).

TypeError: '>=' not supported between instances of 'float' and 'str'

In [53]:
catch = df(['fielder'])['dismissal_kind'=='caught']

KeyError: 'Column not found: False'

In [46]:
catch

fielder
A Ashish Reddy    run out
A Chandila         caught
A Chopra          run out
A Flintoff         caught
A Kumble           caught
                   ...
YV Takawale       stumped
Yashpal Singh      caught
Younis Khan        caught
Yuvraj Singh      run out
Z Khan            run out
Name: dismissal_kind, Length: 451, dtype: object

In [47]:
catch.max()

'stumped'

In [51]:
catch.max(dismissal_kind)

NameError: name 'dismissal_kind' is not defined

In [52]:
catch.sum()

'run outcaughtrun outcaughtcaughtrun outrun outcaughtrun outrun outcaughtrun outcaughtcaughtrun outrun outrun outstumpedcaughtcaughtstumpedrun outrun outcaughtrun outrun outcaughtrun outrun outrun outcaughtrun outrun outcaughtcaughtrun outcaughtcaughtstumpedrun outcaughtrun outcaughtrun outrun outstumpedrun outcaughtrun outcaughtcaughtcaughtrun outcaughtrun outcaughtcaughtcaughtcaughtrun outrun outcaughtcaughtrun outcaughtstumpedcaughtrun outrun outrun outcaughtrun outrun outrun outcaughtcaughtcaughtrun outrun outcaughtrun outcaughtcaughtcaughtrun outcaughtcaughtcaughtrun outcaughtrun outstumpedrun outcaughtcaughtcaughtcaughtcaughtcaughtrun outcaughtrun outrun outrun outrun outrun outrun outstumpedrun outcaughtcaughtrun outrun outstumpedcaughtcaughtcaughtrun outcaughtrun outrun outrun outrun outcaughtcaughtrun outrun outcaughtcaughtrun outcaughtcaughtcaughtrun outrun outcaughtcaughtrun outrun outcaughtrun outstumpedrun outrun outcaughtrun outrun outcaughtcaughtrun outcaughtrun outcaughtcaughtrun outcaughtrun outrun outrun outcaughtrun outcaughtcaughtrun outcaughtcaughtrun outrun outcaughtrun outrun outcaughtcaughtcaughtrun outcaughtrun outcaughtrun outrun outrun outcaughtcaughtrun outcaughtstumpedcaughtcaughtstumpedstumpedstumpedcaughtrun outrun outstumpedstumpedcaughtrun outcaughtrun outcaughtrun outrun outstumpedrun outrun outrun outrun outcaughtcaughtcaughtcaughtrun outrun outrun outrun outrun outcaughtrun outrun outcaughtrun outrun outrun outrun outrun outstumpedrun outrun outrun outcaughtcaughtrun outcaughtcaughtrun outrun outrun outcaughtcaughtcaughtrun outrun outrun outrun outrun outrun outcaughtcaughtcaughtrun outstumpedstumpedrun outstumpedrun outrun outcaughtcaughtrun outrun outcaughtcaughtcaughtstumpedcaughtcaughtrun outcaughtrun outcaughtstumpedcaughtrun outcaughtrun outrun outcaughtrun outrun outcaughtstumpedrun outcaughtcaughtrun outrun outcaughtrun outcaughtstumpedcaughtcaughtcaughtstumpedrun outrun outcaughtrun outcaughtrun outrun outcaughtcaughtcaughtrun outrun outcaughtrun outrun outrun outrun outcaughtrun outcaughtcaughtcaughtcaughtrun outcaughtrun outcaughtcaughtcaughtrun outrun outcaughtstumpedcaughtrun outcaughtcaughtcaughtcaughtcaughtcaughtrun outstumpedrun outrun outcaughtcaughtrun outrun outcaughtcaughtrun outrun outrun outcaughtrun outcaughtcaughtcaughtcaughtcaughtrun outrun outrun outrun outrun outrun outcaughtrun outcaughtrun outrun outrun outrun outcaughtrun outcaughtcaughtrun outrun outcaughtstumpedrun outrun outrun outrun outrun outrun outcaughtrun outrun outrun outstumpedrun outrun outrun outcaughtcaughtcaughtrun outcaughtcaughtcaughtcaughtcaughtrun outcaughtcaughtcaughtcaughtcaughtcaughtrun outrun outrun outrun outcaughtcaughtrun outcaughtrun outcaughtcaughtcaughtcaughtrun outrun outrun outrun outcaughtrun outrun outcaughtcaughtrun outcaughtstumpedrun outcaughtrun outcaughtstumpedcaughtrun outcaughtcaughtrun outcaughtrun outrun outrun outstumpedcaughtcaughtrun outrun out'

In [54]:
catch = df[df['dismissal_kind']=='caught']

In [55]:
catch

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
64,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,3,S Dhawan,MC Henriques,STR Binny,0,...,0,0,0,0,0,0,0,S Dhawan,caught,Sachin Baby
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
165,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,TM Head,DJ Hooda,0,...,0,0,0,0,0,0,0,CH Gayle,caught,DA Warner
206,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,TM Head,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,TM Head,caught,Yuvraj Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150309,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,2,Yuvraj Singh,BCJ Cutting,CJ Jordan,0,...,0,0,0,0,0,0,0,Yuvraj Singh,caught,SR Watson
150326,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,4,Bipul Sharma,BCJ Cutting,CJ Jordan,0,...,0,0,0,0,0,0,0,Bipul Sharma,caught,YS Chahal
150402,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,3,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,0,0,0,CH Gayle,caught,Bipul Sharma
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,0,0,0,0,0,0,0,AB de Villiers,caught,MC Henriques
150438,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,0,0,0,SR Watson,caught,MC Henriques

In [57]:
catch['fielder'].max()

'Z Khan'