In [1]:
import numpy as np
import pandas as pd

# SERIES

## Creating Series

In [2]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
pd.Series([1,2,3,4],index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
pd.Series([1,2,3,4,],dtype='float')

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

## Using Dictionery

In [5]:
pd.Series({'Firstname':'Tom','Age':23,'City':'Cartoon Network'})

Firstname                Tom
Age                       23
City         Cartoon Network
dtype: object

In [6]:
dic=({'Firstname':'Tom','Age':23,'City':'Cartoon Network'})
lbl = ['Name','Age','City']
pd.Series(dic,lbl)

Name                NaN
Age                  23
City    Cartoon Network
dtype: object

In [7]:
pd.Series(12,index=['a','b','c','d'])

a    12
b    12
c    12
d    12
dtype: int64

In [8]:
pd.Series(14,index=range(5))

0    14
1    14
2    14
3    14
4    14
dtype: int64

# #creating dataframe with columns called 'Name' and 'Age' from list of lists

In [23]:
data = [['Rob',25],['Bobby',30],['John',21],['Danny',22],['Manny',23]]
pd.DataFrame(data,columns=['Name','age'])

    Name  age
0    Rob   25
1  Bobby   30
2   John   21
3  Danny   22
4  Manny   23

In [13]:
data = {'Name':['Rahul','Shubham','Pradip'],'Math':[80,70,85],'Science':[78,56,83]}
pd.DataFrame(data)

      Name  Math  Science
0    Rahul    80       78
1  Shubham    70       56
2   Pradip    85       83

In [14]:
pd.DataFrame(data, index=['A','B','C'])

      Name  Math  Science
A    Rahul    80       78
B  Shubham    70       56
C   Pradip    85       83

# dataframe from series

In [16]:
pd.DataFrame({'Name':pd.Series(['Rob','Bob','Mat','John','Danny'],index=['R','B','M','J','D']),
            'Age':pd.Series([25,30,21,32,23],index=['R','B','M','J','D'])})

    Name  Age
R    Rob   25
B    Bob   30
M    Mat   21
J   John   32
D  Danny   23

# Modifying Dataframe

## adding new column to dataframe

In [19]:
DF

NameError: name 'DF' is not defined

In [20]:
df

NameError: name 'df' is not defined

In [21]:
data

{'Name': ['Rahul', 'Shubham', 'Pradip'],
 'Math': [80, 70, 85],
 'Science': [78, 56, 83]}

In [22]:
print(data)

{'Name': ['Rahul', 'Shubham', 'Pradip'], 'Math': [80, 70, 85], 'Science': [78, 56, 83]}

In [24]:
data

[['Rob', 25], ['Bobby', 30], ['John', 21], ['Danny', 22], ['Manny', 23]]

In [26]:
data['Owner'] = ['Larry Page','Mark Z','test','Bill Gates','Warren BUffet']
data

TypeError: list indices must be integers or slices, not str

In [27]:
data = [{'name':'Google', 'rank':1}, 
        {'name':'Facebook', 'rank':2}, 
        {'name':'IBM', 'rank':3}, 
        {'name':'Microsoft', 'rank':4}]
df = pd.DataFrame(data)
df

        name  rank
0     Google     1
1   Facebook     2
2        IBM     3
3  Microsoft     4

In [29]:
df['Owner'] = ['Larry Page','Mark Z','test','Bill Gates']
df

        name  rank       Owner
0     Google     1  Larry Page
1   Facebook     2      Mark Z
2        IBM     3        test
3  Microsoft     4  Bill Gates

In [32]:
df[['name','Owner']]

        name       Owner
0     Google  Larry Page
1   Facebook      Mark Z
2        IBM        test
3  Microsoft  Bill Gates

In [36]:
print(df.ix['IBM'])

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: 'IBM'

In [37]:
print(df.loc['G'])

KeyError: 'G'

In [38]:
df

        name  rank       Owner
0     Google     1  Larry Page
1   Facebook     2      Mark Z
2        IBM     3        test
3  Microsoft     4  Bill Gates

In [39]:
df.iloc[0:2]

       name  rank       Owner
0    Google     1  Larry Page
1  Facebook     2      Mark Z

In [42]:
df.loc['2']

KeyError: '2'

In [43]:
df.iloc[0]

name         Google
rank              1
Owner    Larry Page
Name: 0, dtype: object

In [44]:
df.loc[1]

name     Facebook
rank            2
Owner      Mark Z
Name: 1, dtype: object

In [45]:
df

        name  rank       Owner
0     Google     1  Larry Page
1   Facebook     2      Mark Z
2        IBM     3        test
3  Microsoft     4  Bill Gates

In [46]:
df.iloc[0:2]

       name  rank       Owner
0    Google     1  Larry Page
1  Facebook     2      Mark Z

In [47]:
df.iloc[0:2,0:3]

       name  rank       Owner
0    Google     1  Larry Page
1  Facebook     2      Mark Z

In [48]:
df.iloc[::-1]

        name  rank       Owner
3  Microsoft     4  Bill Gates
2        IBM     3        test
1   Facebook     2      Mark Z
0     Google     1  Larry Page